<head>
  <link rel="stylesheet" type="text/css" href="/css/nav.css" />
</head>

<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo">
      <a href="#" class="nav-link">
        <span class="link-text">visu-lise</span>
        <i class="fa-brands fa-pied-piper-alt"></i>
      </a>
    </li>
    <li class="nav-item">
      <form method="POST" action="/upload" enctype="multipart/form-data">
        <a href="#" class="nav-link">
          <i class="fa-solid fa-cloud"></i>
          <span class="link-text">
            <input
              type="file"
              name="file"
              accept=".csv, .json, .graphml"
              multiple
            />
            <input type="submit" value="Import Network" />
          </span>
        </a>
      </form>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fa-solid fa-magnifying-glass-chart"></i>
        <span class="link-text">Analyse</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fa-solid fa-gauge"></i>
        <span class="link-text">Performance</span>
      </a>
    </li>
  </ul>
</nav>
