<head>
  <link rel="stylesheet" type="text/css" href="/css/nav.css" />
</head>

<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo">
      <a href="/index" class="nav-link">
        <span class="link-text">visu-lise</span>
        <i class="fa-solid fa-magnifying-glass"></i>
      </a>
    </li>
    <li class="nav-item">
      <form method="POST" action="/upload" enctype="multipart/form-data">
        <a href="#" class="nav-link">
          <i class="fa-solid fa-cloud"></i>
          <span class="link-text">
            <input
              type="file"
              name="files"
              class="file-upload"
              accept=".csv, .json, .graphml"
              multiple
            />
            <input type="submit" value="Import Network" class="import-btn"/>
          </span>
        </a>
      </form>
    </li>
    <li class="nav-item">
      <a href="/documentation" class="nav-link">
        <i class="fa-solid fa-magnifying-glass-chart"></i>
        <span class="link-text">Documentation</span>
      </a>
    </li>
    <li class="nav-item">
      <div id="export-json-btn" class="nav-link" >
        <i class="fa-solid fa-file-export"></i>
        <span class="link-text">Export as JSON</span>
      </div>
    </li>
    <li class="nav-item">
      <div id="style-button" class="nav-link" >
        <i class="fa-solid fa-paintbrush"></i>
        <span class="link-text">Style</span>
        <i class="fa-solid fa-chevron-down link-text" id="drop-arrow"></i>
      </div>
    </li>
    <div id="style-options">
      <li class="nav-item nav-link">
        <label for="selected-force-strength-slider" class="link-text">Force Strength</label>
        <input type="range" min="0" max="200" value="15" id="selected-force-strength-slider" class="link-text">
        <input type="number" min="0" max="200" value="15" id="selected-force-strength-numeric" class="link-text">
      </li>
      <li class="nav-item nav-link">
          <label for="all-node-colour" class="link-text">Node Colour</label>
          <input type="color" value="#12ffb9" id="all-node-colour" class="link-text">
      </li>
      <li class="nav-item nav-link">
          <label for="all-link-colour" class="link-text">Link Colour</label>
          <input type="color" value="#ffffff" id="all-link-colour" class="link-text">
      </li>
      <li class="nav-item nav-link">
        <button type="button" id="all-reset-button" class="link-text">Reset to Default</button>
        <button type="button" id="apply-button" class="link-text">Apply</button>
      </li>
    </div>
    <li class="nav-item">
      <a href="/logout" class="nav-link">
        <i class="fa-solid fa-sign-out-alt"></i>
        <span class="link-text">Logout</span>
      </a>
    </li>
  </ul>
</nav>
