<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documentation</title>
  <link rel="stylesheet" type="text/css" href="/css/documentation.css">
</head>
<body>
  <a style="cursor: pointer;" href="./network">
    <p><span>&#8592;</span> Go Back</p>
  </a>
  <div class="container">
    <h1>Documentation</h1>
    <section>
      <h2>A* Traversal</h2>
      <p>Select a start node and end node by pressing on two nodes consecutively.<br>
        Press 'a' to perform the A* traversal.<br>
        This algorithm finds the shortest path from a specified start node to a specified goal node.</p>
    </section>

    <section>
      <h2>BFS Traversal</h2>
      <p>Select a start node and end node by pressing on two nodes consecutively.<br>
        Press 'b' to perform the BFS traversal.<br>
        This algorithm explores all neighbor nodes at the present depth prior to moving on to the nodes at the next depth level.</p>
    </section>

    <section>
      <h2>DFS Traversal</h2>
      <p>Select a start node and end node by pressing on two nodes consecutively.<br>
        Press 'd' to perform the DFS traversal.<br>
        This algorithm explores as far as possible along each branch before backtracking.</p>
    </section>

    <section>
      <h2>Clustering</h2>
      <p>Press 'j' to cluster nodes in the graph.<br>
        Clustering groups similar nodes together based on certain criteria.</p>
    </section>

    <section>
      <h2>Style Nodes Based on Degree</h2>
      <p>Press 'g' to style nodes based on their degree.<br>
        This feature can help draw attention to important nodes by determining the size of each node proportional to it's degree.</p>
    </section>

    <section>
      <h2>Reset Graph Styles</h2>
      <p>Press 'n' to reset all styles applied to the graph, returning it to its default appearance.</p>
    </section>

    <section>
      <h2>Highlight Max Degree Node</h2>
      <p>Press 'm' to highlight the node with the highest degree in the graph. This can help identify the central node</p>
    </section>

    <section>
      <h2>Style Grouping by Node Degree</h2>
      <p>Press 'h' to cluster nodes by their degree.<br>
        This can help visualise the distribution of nodes, allowing you to identify any potential important clusters.</p>
    </section>

    <section>
      <h2>Node and Link Style Presets</h2>
      <p>Press 'c' to apply predefined style presets to nodes and links in the graph.<br>
        This can quickly change the visual appearance of the graph.</p>
    </section>

    <section>
      <h2>Enable Direction</h2>
      <p>Press 'l' to enable arrows in the graph.<br>
        Arrows between links indicate the flow or direction of relationships between nodes.</p>
    </section>

    <section>
      <h2>Enable Labels</h2>
      <p>Press 't' to enable labels for nodes in the graph.<br>
        Labels provide additional information about the nodes (by default, their degree).</p>
    </section>

    <section>
      <h2>Custom Node and Link Styling</h2>
      <p>Clicking on a node or link will select it, and right clicking will open up the edit menu.<br>
        This allows you to change various style properties of the selected element.</p>
    </section>
  </div>
</body>
</html>
