<div class="index-container">
  <!-- <button>CREATE ACCOUNT <i class="fa-sharp fa-solid fa-chevron-right"></i></i></button>
  <button>LOGIN <i class="fa-sharp fa-solid fa-chevron-right"></i></i></button>
  <button>CONTACT <i class="fa-sharp fa-solid fa-chevron-right"></i></button>
  <button>ABOUT <i class="fa-sharp fa-solid fa-chevron-right"></i></button> -->
</div>
