<head>
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>

<div class="index-container">
  <div class="solar-container">
    <div class="blackhole-container">
      <img
        class="blackhole-img"
        src="/img/backgrounds/black_hole.png"
        alt="Image of Black Hole"
      />
      <div class="button-wrapper">
        <h1>VISU-LISE</h1>

        <a href="/network"
          >VISUALISE NETWORK <i class="fa-sharp fa-solid fa-chevron-right"></i>
        </a>
        <a href="/register">
          CREATE ACCOUNT <i class="fa-sharp fa-solid fa-chevron-right"></i>
        </a>
        <a href="/login">
          LOGIN <i class="fa-sharp fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>
    <img
      class="world-img"
      src="/img/backgrounds/world.png"
      alt="Image of World"
    />
  </div>
</div>
