<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
    <title>Logout</title>
</head>
<body>
    <h1>You have been logged out successfully</h1>
    <a href="/" class="btn">Go to Home Page</a>
</body>
</html>