<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Logout</title>
</head>
<body>
    <div class="button-wrapper">
        <h1>You have been logged out successfully</h1>
        <a href="/" class="btn">Go to Home Page <i class="fa-sharp fa-solid fa-chevron-right"></i> </a>    
    </div>
</body>
</html>