<head>
  <link rel="stylesheet" type="text/css" href="/css/network.css" />
  <script type="module" defer src="/js/main.min.js"></script>
</head>

<style>

  .draggable {
    position: absolute;
    cursor: move;
    z-index: 1000;
    background-color: lemonchiffon;
    border-radius: 5px;
    padding: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    overflow: auto;
  }

  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: lavender;
  }

  .dropdown-content button:last-child {
    border-bottom: none;
  }

  .dropdown-content button:hover {
    background-color: rgb(18, 225, 185);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>

<%- include('./partials/header') %>

<div class="network-container">
  <div id="network-data" style="display: none">
    <%= JSON.stringify(networksData) %>
  </div>

  <div id="dropDownDiv" class="draggable dropdown">
    <button class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
    </div>
  </div>
</div>

<div id="edit-menu">
  <ul class="edit-list">
    <li class="edit-item">Option 1</li>
    <li class="edit-item">Option 2</li>
    <li class="edit-item">Option 3</li>
  </ul>
</div>

<script>
  dragElement(document.getElementById("dropDownDiv"));
  
  function dragElement(elmnt) {
    let pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
    elmnt.onmousedown = dragMouseDown;
  
    function dragMouseDown(e) {
      e = e || window.event;
      e.preventDefault();
      pos3 = e.clientX;
      pos4 = e.clientY;
      document.onmouseup = closeDragElement;
      document.onmousemove = elementDrag;
    }
  
    function elementDrag(e) {
      e = e || window.event;
      e.preventDefault();
      pos1 = pos3 - e.clientX;
      pos2 = pos4 - e.clientY;
      pos3 = e.clientX;
      pos4 = e.clientY;

      let newTop = elmnt.offsetTop - pos2;
      let newLeft = elmnt.offsetLeft - pos1;

      if (newTop < 0) newTop = 0;
      if (newLeft < 0) newLeft = 0;
      if (newTop > window.innerHeight - elmnt.offsetHeight) newTop = window.innerHeight - elmnt.offsetHeight;
      if (newLeft > window.innerWidth - elmnt.offsetWidth) newLeft = window.innerWidth - elmnt.offsetWidth;

      elmnt.style.top = newTop + "px";
      elmnt.style.left = newLeft + "px";
    }
  
    function closeDragElement() {
      document.onmouseup = null;
      document.onmousemove = null;
    }
  }
</script>

