<head>
  <link rel="stylesheet" type="text/css" href="/css/network.css" />
</head>

<%- include('./partials/header') %>

<div class="network-container">
  <svg id="networkSVG"></svg>
</div>

<div id="network-data" style="display: none">
  <%= JSON.stringify(networksData) %>
</div>

<script type="module" defer src="/js/main.min.js"></script>
