<head>
  <link rel="stylesheet" type="text/css" href="/css/network.css" />
  <script defer src="/dist/bundle.js"></script>
</head>

<style>

  .draggable {
    position: absolute;
    cursor: move;
    z-index: 1000;
    background-color: lemonchiffon;
    border-radius: 5px;
    padding: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    overflow: auto;
  }

  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: lavender;
  }

  .dropdown-content button:last-child {
    border-bottom: none;
  }

  .dropdown-content button:hover {
    background-color: rgb(18, 225, 185);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>

<%- include('./partials/header') %>

<div class="network-container">
  <div id="network-data" style="display: none">
    <%= JSON.stringify(networksData) %>
  </div>
</div>

<div id="edit-menu">
  <ul class="edit-list">
    <li class="edit-item">
      <label for="selected-colour">Colour</label>
      <input type="color" value="#12ffb9" id="selected-colour">
    </li>
    <li class="edit-item">
      <label for="selected-node-size-slider">Node Size</label>
      <input type="range" min="5" max="30" value="5" id="selected-node-size-slider">
      <input type="number" min="5" max="30" value="5" id="selected-node-size-numeric">
    </li>
    <li class="edit-item">
      <label for="selected-node-links">Node Link Colour</label>
      <input type="color" value="#FFFFFF" id="selected-node-links">
    </li>
  </ul>
</div>