<head>
  <link rel="stylesheet" type="text/css" href="/css/network.css" />
</head>

<%- include('./partials/header') %>

<div class="network-container"></div>

<div id="network-data" style="display: none">
  <%= JSON.stringify(networksData) %>
</div>

<div id="edit-menu">
  <ul class="edit-list">
    <li class="edit-item">Option 1</li>
    <li class="edit-item">Option 2</li>
    <li class="edit-item">Option 3</li>
  </ul>
</div>

<script type="module" defer src="/js/main.js"></script>
