<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Page</title>
  <link rel="stylesheet" type="text/css" href="/css/registration.css">
  <script type="text/javascript" defer src="/js/script.js"></script>
</head>
<body>
  <div class="container">
    <div class="register-box">
      <h3>Sign Up</h3>
      <br />
      <form action="/register" method="POST">
        <input type="text" placeholder="Enter username" name="username" />
        <input type="password" placeholder="Enter password" name="password" />
        <input type="submit" value="Register" class="register-btn btn" />
      </form>
      <a href="/login" class="signup-btn btn">Log In</a>
    </div>
  </div>
</body>
</html>
