@import 'globals.css';

* {
  color: lightgrey;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 40px;
}

section {
  margin-top: 20px;
}

code {
  display: block;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  color: black;
}
