@import 'globals.css';

.node {
  /* fill: var(--accent-color); */
  stroke: var(--secondary-color);
  stroke-width: 2px;
  cursor: pointer;
}

.link {
  /* stroke: white; */
  stroke-opacity: 0.6;
  stroke-width: 3;
}

.network-container {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
}

svg {
  min-width: 500px;
  border: 1px solid var(--accent-color);
  margin-left: 80px;
}
