/* .toolbar-drag {
  position: absolute;
  top: 50%;
  right: 0;
  color: var(--accent-color);
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 25px;
  font-size: var(--md-font-size);
  font-weight: bold;
  border: 2px solid var(--accent-color);
  transition: background-color 0.3s, transform 0.3s;
}

.toolbar-drag:hover {
  background-color: var(--primary-color);
  cursor: w-resize;
  transform: scale(1.1);
} */

@font-face {
  font-family: myFont;
  src: url("NeueMachina-Regular.otf");
}

:root {
  font-family: myFont;
  font-size: 16px;
  --md-font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --lg-font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --xl-large-font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --primary-color: rgb(7, 13, 41);
  --secondary-color: rgb(22, 47, 90);
  --accent-color: rgb(18, 225, 185);
  --text-color: white;
  --border-radius: 8px;
  --box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  --transition-speed: 450ms;
}

body {
  color: black;
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--accent-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--secondary-color);
  transition: width 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-color);
  text-decoration: none;
  opacity: 0.8;
  transition: var(--transition-speed);
}

.nav-link:hover {
  opacity: 1;
  background: var(--accent-color);
  color: var(--primary-color);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link i {
  min-width: 2rem;
  margin: 0 1.5rem;
  text-align: center;
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: block;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-color);
  background: var(--secondary-color);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo i {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo i {
  transform: rotate(-360deg);
}

.node {
  fill: var(--accent-color);
  stroke: white;
  stroke-width: 2px;
  cursor: pointer;
}

.link {
  stroke: white;
  stroke-opacity: 0.8;
  stroke-width: 3;
}

.network-container {
  padding: 0;
  margin: 0;
  height: 100vh;
}

#networkSVG {
  min-width: 500px;
}

.bolt {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: palegoldenrod;
  color: palegoldenrod;
}

.glow {
  position: absolute;
  box-shadow: 0px 0px 3rem red;
  color: transparent;
  background-color: transparent;
  width: 25px;
  height: 25px;
}
